<ion-view title="我">
    <ion-content ng-click="toDetail(product)">
        <div class="list">
            <div class="item item-avatar-left item-icon-right" style="border:none">
                <img src="views/me/images/521.jpg" />
                <i class="icon ion-ios-arrow-right" style="margin-top:-8px;font-size:23px"></i>
                <h4>Heathway</h4>
                <P>天生购物狂 </P>
            </div>
            <div class="shadow2"  style="margin-top:-7px;height:13px"></div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-list-outline" style="margin-left:10px"></i>
                <p>我的订单</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-top" style="border:none">
                    <i class="icon ion-ios-cart-outline wait"><p>待付款</p></i>
                <i class="icon ion-ios-paperplane-outline wait"><p>待发货 </p></i>
                <i class="icon ion-ios-folder-outline wait"><p>待收货</p></i>
                <i class="icon ion-ios-clock-outline wait"><p>待评价</p></i>
            </div>
            <div class="shadow2"  style="margin-top:-7px;height:13px"></div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-closed-captioning"></i><p>我的礼券</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-bag"></i><p>我的福袋</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-map"></i><p>我的专辑</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-document"></i><p>我的文章</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"><span class="badge badge-assertive">1</span></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-pricetag"></i><p>我的收藏</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-share"></i><p>我的订阅</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="shadow2"  style="margin-top:-7px;height:13px"></div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-android-checkbox-outline"></i><p>评论</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-android-map"></i><p>收藏/赞</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"><span class="badge badge-assertive">2</span></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-person"></i><p>聊天</p>
                <i class="icon ion-ios-arrow-right" style="font-size:23px"><span class="badge badge-assertive">5</span></i>

            </div>
        </div>
    </ion-content>
</ion-view>