<ion-view>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content >
        <ion-slide-box >
            <ion-slide>
                <a class="box"><img src="{{product.viewPic[0]}}"  /></a>
            </ion-slide>
            <ion-slide>
                <a class="box"><img src="{{product.viewPic[1]}}"  /></a>
            </ion-slide>
            <ion-slide>
                <a class="box"><img src="{{product.viewPic[2]}}"  /></a>
            </ion-slide>
        </ion-slide-box>
        <h4 class="title fivestar">
            {{product.title}}

        </h4>
        <p class="price">{{product.price}}<i class="icon ion-heart love"></i></p>
        <div class="list">
            <div class="item item-icon-right">
                已选325ml/小爱心
                <i class="icon ion-ios-arrow-down"></i>
            </div>
            <div class="item item-text-wrap">
                <p>{{product.desc}}</p>
            </div>
            <div class="item item-avatar-left item-icon-right">
                <img src="views/detail/images/logo_03.jpg" class="redbook1"/>
                <i class="icon ion-ios-arrow-right redbook2"></i>
                <p  class="redbook1">小红书福利社</p>
                <p class="redbook2">满99元免运费，去凑单</p>
            </div>
            <div class="item">
                <h3 style="font-family:'黑体'">看看小买家们怎么说</h3>
            </div>
            <div class="item item-avatar-left">
                 <img src="views/detail/images/head.png" />
                <p>粉红小象</p>
                <p>加入小红书295天</p>
            </div>
            <div class="item item-text-wrap juggle">
                法国老牌香氛，好莱坞众星热爱，Insta时尚达人的宠儿，无数人被种草后都无法自拔~瓶子极简超有逼格，放在家里不用都是艺术品好嘛！蜡烛烧完之后还可以用来装化妆刷什么的~它家香薰蜡烛都是手工制作，天然精油含量很高，不点燃也可以闻到很香的味道。泡澡、失眠或者下雨天家里蹲时的必备良品。这款结合了Diptyque最受欢迎的天竺葵和玫瑰之水，优雅的玫瑰香气中夹着轻快清新的绿植气息，就像漫步在尼罗河花园~
            </div>
            <div class="item item-avatar-left">
                <img src="views/detail/images/head2.jpeg" />
                <p>飞舞星空</p>
                <p>加入小红书185天</p>
            </div>
            <div class="item item-text-wrap juggle">
                “对杯代表一辈子”，送给闺蜜做新婚礼物真是再贴心不过了。蒂芙尼对杯马克杯，光是包装的“Tiffany的盒子摆在那里都是一件艺术品”，里面的杯子更是美到让小红薯惊喜。“杯子质感很细腻”，杯沿处的银边和银色小圆点让纯白的杯身“更显低调内涵”，一圈当家的Tiffany蓝拿捏得恰到好处，粗一分显张扬，细一寸少美感，即使不写logo也能在众多杯中认出它来，小红薯说“造型很漂亮，制作很精巧”，用来喝茶喝咖啡，“感觉自己都淑女了不少。”
            </div>
        </div>
    </ion-content>
</ion-view>