<ion-view hide-nav-bar="true">
    <!--<ion-content>-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear" ng-if="config.enter" ui-sref="tabs.home" style="color:#fff;opacity:0.9;font-family: '微软雅黑'">enter></button>-->
    <!--</ion-nav-buttons>-->
    <ion-slide-box on-slide-changed="onSlideChanged()" class="beauty" show-pager="false">
        <ion-slide>
            <img src="views/transit/images/001.jpg" />
            <!--<div style="background:url('views/transit/images/001.jpg') no-repeat;background-size: 100% 100%"></div>-->
        </ion-slide>
        <ion-slide>
            <img src="views/transit/images/002.jpg" />

        </ion-slide>
        <ion-slide>
            <img src="views/transit/images/003.jpg" />
            <button  ng-if="config.enter" ui-sref="tabs.home" style="width:120px;height:50px;text-align:center;color:#fff;background:rgba(250,250,250,0.2);font-family: '微软雅黑';position:absolute;left:41%;top:82%;font-size:16px;border-radius:8px">enter></button>

        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->

    
</ion-view>