<ion-view title="游记">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="views/journey/images/330.jpeg" />
                <P style="margin-top:10px">秋秋秋戴</P>
                <a class="aa" style="margin-top:-19px">+关注</a>
            </div>
            <div class="item item-image">
                <img src="views/journey/images/004.jpg" />
            </div>
            <div class="item item-image">
                <img src="views/journey/images/003.jpg" />
            </div>
            <div class="item item-image">
                <img src="views/journey/images/005.jpg" />
            </div>
            <div class="item item-text-wrap" style="font-size:14px">
                因为经常来上海，所以对于酒店并没有很大期待。 悦榕庄外滩店真的给你超五星的体验。👍👍👍 定的外滩全景江景，房间号越大景色越好，一层一共17我们是16，所以景致特别好，浴室几乎对着明珠塔，要来住的可以和酒店沟通下，前台服务人炒鸡nice，一般都可以满足。 这次来过生日，给酒店要求了生日布置进来以后发现惊喜满满。 因为晚上逛商场回来迟了泡浴缸的时候明珠塔关灯了有点遗憾，蛋糕是酒店晚上送来的，因为吃的太撑所以只拍了照。 3480包含双早，早餐可选择的很多，餐厅环境也很好。图8⃣️9⃣️是餐厅外景观。 top层是小时代拍摄地，也是酒吧，晚上很多人，因为买了一天有点累就开了一瓶白葡萄在浴缸里庆生。
            </div>
            <div class="item item-avatar">
                <img src="views/journey/images/911.jpeg"  />
                <p style="background:#ccc;color:#000;margin-top:8px;height:30px;line-height:30px">有想法就说，看对眼就上</p>
            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap">
                <img src="views/journey/images/178.jpeg" />
                <p>阿图罗的家养鲨鱼 </p>
                <p>我在个比较冷门的民宿软件上订的叫，大鱼自助游，不过最好提前订，他家房间很热门一般都要提前几个月订才能订上</p>
                <i class="icon ion-thumbsup" style="font-size:17px">5</i>
            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap">
                <img src="views/journey/images/234.jpeg" />
                <p>米修JOYCE</p>
                <p>而且酒店住着很安静，二楼的餐厅菜也挺好吃，最喜欢13楼的酒吧</p>
                <i class="icon ion-thumbsup" style="font-size:17px">2</i>
            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap">
                <img src="views/journey/images/330.jpeg" />
                <p>韩国小迷妹</p>
                <p>就是在天猫买哒！哈哈，平时其实也不会一直拍，可能就是有聚会或者出去玩儿拍一下。我这个套餐送了50张相纸呢！</p>

            </div>
            <div class="item item-avatar-left item-icon-right item-text-wrap">
                <img src="views/journey/images/2111.jpeg" />
                <p>小鸡炖小</p>
                <p>我当时好像是八百日元左右买的，当时买太多了记不清具体价格，你要吗？一盒四十五，两盒都要就四十吧，绝对正品😊</p>

            </div>
            <div class="item" style="border:none">
                <p style="text-align:center">查看全部83条评论</p>
            </div>
            <div class="shadow2"></div>
        </div>
    </ion-content>
</ion-view>