<ion-tabs class="tabs-light tabs-icon-top">
    <ion-tab title="首页" icon-on="icon ion-ios-home" icon-off="icon ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-on="icon ion-ios-search-strong" icon-off="icon ion-ios-search" ui-sref="tabs.search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购买" icon-on="icon ion-ios-briefcase" icon-off="icon ion-ios-briefcase-outline" ui-sref="tabs.shopping">
        <ion-nav-view name="tab-shopping"></ion-nav-view>
    </ion-tab>
    <ion-tab title="消息" icon-on="icon ion-email-unread" icon-off="icon ion-email" ui-sref="tabs.message">
        <ion-nav-view name="tab-message"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-on="icon ion-person-add" icon-off="icon ion-person" ui-sref="tabs.my">
        <ion-nav-view name="tab-my"></ion-nav-view>
    </ion-tab>
</ion-tabs>