<ion-view title="热门话题">
    <ion-content style="padding:21px 30px">
        <div class="row clear">
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/11_03.jpg" /></div>颜控必入
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/11_05.jpg" /></div>新生礼物
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/22_05.jpg" /></div>平价bag
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/11_03.jpg" /></div>颜控必入
            </div>
        </div>
        <div class="row clear">
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/125.jpg" /></div>轻柔入睡
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/126.jpg" /></div>香浓热饮
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/127.jpg" /></div>高贵香水
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/129.jpg" /></div>可爱图腾
            </div>
        </div>
        <div class="row clear">
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_4_03.gif" /></div>漂洋过海
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_4_05.gif" /></div>情深意切
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_45_03.gif" /></div>深夜食堂
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_45_05.gif" /></div>豪华海景
            </div>
        </div>
        <div class="row clear">
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/99999 (1).jpg" /></div>英伦校园
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/99999 (2).jpg" /></div>出国必备
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/99999 (4).jpg" /></div>高档套餐
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/711.jpg" /></div>清新风格
            </div>
        </div>
        <div class="row clear">
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_1_03.gif" /></div>早春棒球
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_1_05.gif" /></div>温泉酒店
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/IMG_4_03.gif" /></div>法式餐厅
            </div>
            <div class="col star clear">
                <div class="imglix"><img src="views/search/images/22_05.jpg" /></div>绿色多肉
            </div>
        </div>

    </ion-content>
</ion-view>